{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    ]
  ],
  "plugins": [
    "@emotion/babel-plugin",
    "@babel/plugin-proposal-export-default-from"
  ],
  "env": {
    "test": {
      "sourceMaps": "both"
    },
    "release": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}